* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: monospace;
}

/* Header */
header{
    padding: 70px;
    color: #c4c9d5;
    text-align:center;
    background-color: #191d23;
    margin: auto;
    font-family: serif;
}

header h1{
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: 40px;
}

header h2{
    margin-top: 0px;
    font-size: 16px;
    font-style: italic;
}

/* Navigasi */
nav button{
    background-color: #9dafbb;
    color: #191d23;
    padding: 3px 15px;
    font-weight: bold;
    margin-top: 16px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 8px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #8395a2;
    font-family: monospace;
}

nav button:hover {
    background-color: #8395a2;
    transform: scale(0.9);
    }

nav button.aktif {
    background-color: #8395a2;
}

/* Beranda */
#beranda {
    max-width: 900px;
    margin: 24px auto 0px;
    border-radius: 8px;
}

#beranda h2 {
    margin-bottom: 4px;
}

.flexbox {
    display: flex;
    gap: 24px;
}

.kotak1 {
    text-align: center;
    padding: 16px;
    margin: 0px 8px 24px;
    border-radius: 8px;
    background-color: #eeeeee17;
    box-shadow: 0 4px 10px #191d234d;
    border-width: 2px;
    border-style: solid;
}

/* Teori */
#teori {
    max-width: 750px;
    margin: 24px auto;
    padding: 8px;
    text-align: center; 
}

.t-card{
    max-width: 320px;
    margin: 25px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px #191d234d;
    border: 2px solid #1f1646;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.t-header {
    background-color: #57707A;
    color: #fff;
    padding: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.t-body {
    background-color: #d4dbf353;
    padding: 20px;
    text-align: center;
}

.t-grid{
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
    justify-content: center;
}

#teori h3 {
    margin: 0px 0px 10px;
}

#teori p2 {
    display: inline;
    color: #cccccc;
    background-image: linear-gradient(#cccccc, #cccccc);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right;
    transition: background-size 1500ms, color 1500ms;
}

#teori p2:hover{
    background-size: 0% 100%;
    color: #000;
}

/* Converter */
#konversi {
    max-width: 650px;
    margin: 36px auto 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #191d234d;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto 30px auto;
}

#pilih-bilangan {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
}

.opsi {
    display: flex;
    gap: 4px;
    border: 2px solid black;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    width: 110px;
    border-radius: 30%;
    margin-bottom: 10px;
}

.opsi label {
    width: 110px;
    text-align: center;
    cursor: pointer;
}

.opsi input {
    display: none;
}

#bilangan {
    background-color: #dedcdc;
    color: #191d23;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #191d23;
    font-family: monospace;
    width: 200px;
    padding: 8px;
}

#hasil {
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 750px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #191d234d;
}

#hasil_sama {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

#hasil_lain {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

#simpan_hasil {
    display: none;
}

.kartu_hasil {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 130px;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #191d234d;
    background-color: #7e919f;
}

.label_hasil {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
}

.nilai_hasil {
    padding: 20px;
    text-align: center;
    min-height: 20px;
    word-break: break-all;
    box-sizing: border-box;
    font-size: 15px;
    font-style: italic;
}

/* Visualisasi */
#visualisasi {
    max-width: 650px;
    margin: 36px auto 36px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #191d234d;
    text-align: center;
}

#visual-input {
    background-color: #dedcdc;
    color: #191d23;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #191d23;
    font-family: monospace;
    width: 160px;
    padding: 8px;
}

.flexbox2 {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 2rem;
}

.bit-box {
    height: 35px;
    display: flex;
    color: #2a3441;
    font-weight: bold;
    font-size: 17px;
}

#bit-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px #191d234d;
    border-width: 2px;
    border-style: solid;
}

#cara-kerja {
    max-width: 300px;
    padding: 20px;
    border-radius: 6px;
    font-size: 17px;
    box-shadow: 0 4px 10px #191d234d;
    overflow-wrap: break-word;
    word-break: break-all;
    border-width: 2px;
    border-style: solid;
}

.step-row {
    margin-bottom: 16px;
    text-align: right;
}

.step-row:last-child {
    font-weight: bold;
    margin-bottom: 0px;
    text-align: justify;
}
